{% block content %}

<html lang=''>
<head>
   <title>Techstop</title>
   {% load staticfiles %}
   <link rel="stylesheet" href="{%  static 'styles.css' %}" type='text/css' />	
  <link rel="stylesheet" href="styles.css" type='text/css' /> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="{% static 'form-basic.css' %}" type='text/css'>
 
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<!-- Created by akarsh and vivek (noc) -->


</head>
<body>


<div id='cssmenu' style="height:50px">

<ul>
 <li><a class="active" href="/">Home</a></li>
  <li style="float:right"><a href="#">Settings</a></li>
<h1 style="text-align: center;padding:1%;color:white;">TechStop</h1>

</ul>

</div>
<div class="boxed" style="margin-top:3%;height:10%; margin-left:25%;">

<form action="/search/" method="GET">
<h2 style="text-align: center;margin-top:4%;"><span style="color: #ccffcc;"><span style="color: #000000;">Username: </span>&nbsp;<input id="name" name="name" style="width:28%;height:34px;font-size:18px;"/>&nbsp; &nbsp; &nbsp;</span><input style="width: 80px; height: 30px; position: absolute; display: inline-block; border-radius: 8px; box-shadow: 0 3px 0 #094661, 0 35px 20px rgba(0, 0, 0, .35); font-size: 16px; margin-top: 0%; font-weight: 600; background-color: #eeeff3; color: #464646;" type="submit" value="Search!" /><h2 style="color:white;"></h2>

</form>


</div>
<!--
<div class="bboxed" style="margin-top:13%;width:90%;">
<iframe value="Open Window" style="width:100%;height:100%;" src="https://jira.corp.inmobi.com/issues/?filter=21318"></iframe>
</div>
-->
<!--
<div class="" style="border: 3px solid rgb(201, 0, 1);margin-top:13%;width:90%;overflow: hidden;">
<iframe src="https://jira.corp.inmobi.com/issues/?filter=21318" style="border: 0px none; margin-left: -185px; height: 859px; margin-top: -533px; width: 926px;">
</iframe>
</div>
-->
<div id="container" class="bboxed" style="margin-top:13%; margin-bottom:4%;width:90%; height:71%;">
    <iframe id="embed" src="https://jira.corp.inmobi.com/issues/?filter=21318&jql=status%20!%3D%20Closed%20AND%20Status%20!%3D%20Resolved%20AND%20Status%20!%3D%20Canceled%20AND%20type%20!%3D%20RCA%20AND%20assignee%20in%20(anto.daniel%2C%20Vivek.Sinha%2C%20Srie.Alagu%2C%20manzoor.ahamed%2C%20Rahul.Ramachandran%2C%20Arjun.Umathanu%2C%20chaitanya.p%2C%20kumar.kishlay%2C%20Saravana.a%2C%20Akarsh.Gangadharan%2C%20talson.thomas%2C%20rajesh.c%2C%20chandra.shekar%2C%20sandesh.chandane%2C%20noc%2C%20techstop)%20ORDER%20BY%20created%20DESC"></iframe>
</div>

<a style="margin-left:7%;margin-top:8%;" onclick="myFunction()" class="round-button">Refresh</a>

<script>
function myFunction() {
   location.reload();
}
</script>


  <script>
  $( function() {
    var availableTags = [
   "Inmobians",
"chhavi.rathi",
"palli.kartik",
"sharique.ahmad",
"jessica.moini",
"rahul.goyal",
"shashank",
"conner.johnson",
"sukhamrit.boparai",
"pankaj.choudhary",
"shashi.ranjan",
"travis.plane",
"krishna.shetty",
"shauvik.agrawal",
"kaori.murakami",
"sheetal.ramaswamy",
"karan.dugal",
"pradeepta.m",
"stephen.gonsalves",
"kalyan.sai",
"paul.duenas",
"shefali.rai",
"christine.spence",
"yogeesh.rajendra",
"seo.lee",
"kanav.anand",
"paul.duff",
"shelton.coutinho",
"kartikeya.puri",
"prateek.vaishnav",
"anisha.joshi",
"kanchan.rana",
"shibin.philip",
"kelly.mcgrath",
"rishi.jha",
"pavan.dk",
"shikha.gurtu",
"sharique.arshi",
"chris.davies",
"karan.kumar",
"Pawel.Usowski",
"rohan.coelho",
"payment",
"shince.xavier",
"Laura.Chuck",
"kunal.krishna",
"karan.talwar",
"payments",
"shiraz.ansari",
"christopher.fortier",
"karen.coveney",
"Paypal Smartpay",
"shishir.chandra",
"black.li",
"rohit.dosi",
"karina.venezia",
"Payroll",
"mohammad.shakir",
"vivek.vaid",
"kishore.bandi",
"Ci-Engg-Oncall",
"peerfly",
"shiven.seth",
"monika.singh",
"cindy.xie",
"Peggy.Salz",
"shradha.tripathi",
"sriyansa.dash",
"moulya.bangera",
"pratiksha.shetty",
"clint.shaji",
"karthick.karnam",
"mummareddy.mahesh",
"sashank.venkatraman",
"collect",
"shreyash.srivastava",
"omgita.awasthi",
"Collections",
"phanindra.p",
"paige.boueysuen",
"colville.wemyss",
"karthik.vaddamani",
"Pieromania DBA",
"palash.soni",
"tsunayuki.hiraoka",
"competition",
"piyush.gautam",
"shushma.ramachandra",
"ContactUs",
"piyush.mishra",
"shweta.bhat",
"pooja.singhal",
"Corona",
"karumbaiah.bolcarand",
"piyush.pratik",
"shyaam.nagarajan",
"cosmos.user",
"piyush",
"shyni.kuttappa",
"pramod.prakash",
"cosmostestuser",
"siddhant.agrawal",
"prasanna.prasad",
"robin.pahwa",
"CR",
"pooja.kalloor",
"prateek.arora",
"kayla.wilson",
"prateek.priyadarshi",
"grace.ji",
"alicia.fu",
"siddharth.jain",
"neo.chen",
"CreditApprovalEMEA",
"poonacha.an",
"siddharth.raj",
"raghvendra.s",
"sanjay.tripathi",
"tim.xia",
"CS-DE",
"ketan.balsaraf",
"poyeon.kim",
"rahul.ramachandran",
"sudheer.gajula",
"nora.gao",
"sang.yoon",
"cs-inapp",
"kevin.freitas",
"pracheer.agarwal",
"rakesh.ravi",
"jacky.he",
"keshav.laad",
"CS-UK",
"kevin.wang",
"pradeep.kumar",
"silvia.masioli",
"helen.chen",
"CS-US",
"khaja.shareef",
"sindhu.p",
"cyrus.dasadia",
"sita.venkateshwara",
"ritsuko.chiba",
"sanjay.kumar",
"jaehyon.yoon",
"khushboo.maheshwari",
"pragya.mittal",
"ruchi.s",
"jihye.hong",
"aasha.medhi",
"daesun.kim",
"kimio.yamaguchi",
"prajwal.bs",
"Site-Optimization",
"jooyoung.song",
"abhay.singhal",
"kisalay.ranjan",
"prakher.anand",
"sivakumar",
"santosh.taduru",
"verity.mewes",
"abhigna.rakesh",
"kishor.kanhaiya",
"SmartPay",
"saravana.a",
"chelsea.lajterman",
"luka.tan",
"prashant.abhilekh",
"SmartPay-Helpdesk",
"bikash.rajguru",
"mailtest",
"abhinav.mohan",
"darshini.lakshman",
"krishna.tiwari",
"prashant.choudhary",
"SmartPay-tickets",
"sibasish.rath",
"pawas.chandra",
"nandini.singh",
"christina.wein",
"mcom",
"dashrath.shetty",
"SmartPay-Verification",
"neenu.joshua",
"meejoo.na",
"gustav.stuge",
"davendar.ojha",
"krishnendu.majumdar",
"pratap.dessai",
"smita.tyagi",
"dbctx",
"prathik.raj",
"smriti.jaiswal",
"ashwini.kulkarni",
"sneha.b",
"chandrashekara.v",
"pinakin.mehtha",
"mikiko.hyuga",
"abhishek.bapna",
"DB-Oncall-primary",
"kuhoo.sharma",
"prathyush.nair",
"vijay.karthik",
"divya.saxena",
"abhishek.khurana",
"DCP InMobi",
"sonali.haldar",
"nobu.kaneda",
"abhishek.parwal",
"praveen.adlakha",
"sohit.bansal",
"srie.alagu",
"mam.palatree",
"deepa.nagaraj",
"kumar.pratik",
"praveen.dast",
"sohom.majumdar",
"srinivasan.natarajan",
"petra.lein",
"deepak.gupta",
"praveen.krishnan",
"sona.suresh",
"arjun.umesh",
"abhishek.tripathi",
"deepak.jha",
"kunal.kishore",
"praveen.thunoli",
"sumer.singh",
"abuse",
"deepak.nautiyal",
"sooraj.s",
"thornton.schaaf",
"deepak.rai",
"kunik.patel",
"preetham.venkatesh",
"achyuta.kp",
"deepak.thakur",
"kushal.patel",
"preeti.heblikar",
"soumya.ranjan",
"umang.goyal",
"shohi.tan",
"Activation",
"deepu.bhat",
"hatim.ali",
"jennifer.casey",
"prithvi.rajaram",
"vibhav.achar",
"USEvents.Lasvegas",
"sudeep.agarwal",
"adarsh.sharma",
"laura.cai",
"Privacy",
"sowmithri.ravi",
"veronica.sheng",
"anita.liao",
"devashish.gupta",
"laura.pulini",
"Privileged",
"nishanth.vasudevan",
"thomas.williams",
"Admin DCP",
"devesh.gupta",
"priya.parameswaran",
"vivek.sinha",
"erin.wang",
"Ad-optimization",
"devraj.singh",
"lavkesh.lahngir",
"Sprout-cert",
"yaqing.mi",
"Adrel-Engg-Oncall",
"dhananjay.nikam",
"LDAP Search",
"Prod-feedback",
"SproutCompanyCalendar",
"Adroit-Engg-Oncall",
"dharanya.m",
"LDAP-Cloud",
"Sprout-Support",
"sourabh.chaki",
"arshiya.khanum",
"Adsel-Engg-Oncall",
"ld-appusr",
"Programmatic.Drive",
"SQL Admin",
"Adserve-Engg-Oncall",
"dhruba.jyoti",
"AdTracker",
"dhrubajyothi.sarkar",
"provisionSIE",
"Adv-support",
"DI-Automation",
"li.wan",
"pruthvi.gr",
"abhinav.kapoor",
"anchal.gupta",
"Di-Engg-Oncall",
"lijeesh.kozhiyodan",
"PSO-AM",
"sreelakshmi.desai",
"nikhil.malhotra",
"agradip.sarkar",
"dinesh.kumar",
"likith.thimmaiah",
"PSO-BD",
"sreeraj.a",
"avesh.singh",
"ahmad.aeazaz",
"PSO-CM",
"sridhar.desikan",
"rakesh.kb",
"neha.jain",
"dipal.patel",
"lc.miu",
"PSO-PM",
"srikanth.sampath",
"prasant.sai",
"Ai-Engg-Oncall",
"linda.bao",
"PSO-SM",
"srikanth.v",
"sikandar.kumar",
"felix.ma",
"peggy.cao",
"kumar.shailove",
"publisher",
"srikanth.sundarrajan",
"siva.narayana",
"divij.shah",
"ling.zhang",
"Publishersupport",
"srikrishna.s",
"nataraja.maruthi",
"divinita.s",
"jun.liu",
"Publisher-Support",
"srinivas.kc",
"ruchita.jain",
"aswini.bommakanti",
"ajit.i",
"divya.goel",
"liu.qian",
"pub-ticket",
"sriram.cb",
"divya.hariharan",
"pujarini.maulik",
"sriram.kr",
"akash.sharma",
"Dom Join",
"pulin.prakash",
"xavier.llerena",
"dony.kurian",
"location_bot",
"punith.holla",
"akhil.nemani",
"dorin.mascarenhas",
"punith.kumar",
"stacey.palmer",
"puneet.choudhary",
"duos",
"ltvp",
"qauser",
"shamsunnissa.begum",
"nitisha.saumya",
"akshay.goyal",
"lucjan.exner",
"rabi.tripathy",
"sreedharamurthy.k",
"amit.sharma",
"abhishek.jindal",
"akshay.rawat",
"Edge Drive",
"alakshit.tripathi",
"ed.laws",
"ishan.saraswat",
"elaine.xu",
"Mac Domain Join",
"ella.aird",
"Maciej.Lorens",
"raghu.j",
"Studio Mpower",
"allen.huai",
"madan.yadav",
"Studio Ops",
"EMEBUSDEV",
"raghavendra.singh",
"aman.gupta",
"emil.john",
"Madpro",
"akarsh.gangadharan",
"penelope.cahill",
"amareshwari.sr",
"raghuram.shenoy",
"Studio-noreply",
"ambily.sunil",
"Engg-interviews",
"Studio-Support",
"hornam.chen",
"ameya.sakhalkar",
"erica.elizaldi",
"malcolm.dlima",
"rahul.chauhan",
"subhash.n",
"zoe.fu",
"amhelp",
"mallikarjuna.gm",
"junsung.park",
"leslie.zhu",
"seven.chow",
"amine.melouk",
"mallikarjuna.n",
"successfactors-inc",
"ankit.kailaswar",
"jeevesh.warni",
"cecilia.pan",
"manjeet.pan",
"amit.bendale",
"miho.hanai",
"amit.chauhan",
"EU_Invoicing",
"malvika.rao",
"sudhakar.bg",
"maithreyi.sairam",
"santosh.kvs",
"rajesh.pantina",
"moira.zhang",
"amit.deshpande",
"manan.saxena",
"rain.chow",
"sudhanshu.pathak",
"akon.ao",
"raghav.maheshwari",
"amit.gupta",
"EuropeEvents",
"manasa.deshpande",
"raj.srivastava",
"sudhanshu.saxena",
"amit.raj",
"vicky.zhang",
"adheip.dev",
"manasi.narang",
"rajashekhar.c",
"sudhansu.behera",
"debargha.das",
"bharati.sharma",
"annie.jiang",
"venkata.yellai",
"amit.prabhudesai",
"rajat.agarwal",
"deep.patel",
"Expense",
"manjunath.kumble",
"rajat.ahuja",
"praveen.mishra",
"sebastian.m",
"Facebook Notification",
"manjunath.ng",
"rajat.katyal",
"sujin.choi",
"puneet.gupta",
"amrinder.singh",
"manohar.balanki",
"rajat.khandelwal",
"sujit.singh",
"rahul.raja",
"lemya.soltani",
"amrita.ojha",
"fahiz.s",
"manoj.krishnan",
"rajeev.tiwari",
"tara.agarwal",
"amritha.rajendran",
"manoshi.bhattacharje",
"rajeev.ranjan",
"sumedh.shekhar",
"amy.yu",
"mansi.jain",
"jenny.zhang",
"feng.jun",
"manu.pillai",
"sunder.chakravarty",
"anamika.mondal",
"Finance-Ops",
"rajesh.sridhar",
"sundip.dalmia",
"test-git",
"Financesa",
"sunil.kalva",
"anand.narayanan",
"Financesing",
"rajitha.r",
"sunita.devi",
"prachi.sharma",
"Financeus",
"marketo",
"rajiv.bhat",
"Support",
"CF",
"archit.bidawatka",
"anshul.tandon",
"anand.sivashankar",
"Floor Price",
"MarketPlace-Ops",
"rajiv.tandon",
"supportmetaflow",
"junaid.imam",
"francois.peltiez",
"Marmalade",
"tino.kuhn",
"supriya.goswami",
"ananya.aiyyer",
"fumiaki.ogiso",
"rakshit.gambhir",
"masum.kumar",
"andreas.stahl",
"mathew.raju",
"suraj.naik",
"andrew.wales",
"suresh.gurunathan",
"andy.feng",
"sherry.gao",
"matt.slade",
"gaps",
"matthew.mcginley",
"vaibhav.seth",
"andy.powell",
"ratul.roy",
"vignesh.shetty",
"aneesh.karunakaran",
"mattia.dragonetti",
"raunak.agrawal",
"Survey",
"angad.singh",
"gaurav.jain",
"chandrashekhar.vatti",
"anindita.nayak",
"gaurav.joshi",
"ravi.teja",
"anirudh.kurup",
"gaurav.rana",
"mayank.kumari",
"ravi.jain",
"saikat.manna",
"srikanth.k",
"alan.feng",
"gaurav.ranjan",
"ben.tershana",
"gavin.hou",
"melvil.adapoor",
"ravi.hamsa",
"sushil.mohanty",
"gbes",
"metadata automation",
"sushmita.kari",
"chaitanya.v",
"anita.vasu",
"Gbo-Console",
"michael.lee",
"kunal.nagpal",
"GBO-OPS",
"michael.lipyansky",
"svn-mailer",
"API Test Users",
"ankit.kumar",
"GBO-support",
"michael.mccarthy",
"ray.morales",
"sameer.sondhi",
"wasiulla.khan",
"ankit.mittal",
"gbotest",
"rebecca.dleema",
"swapnil.jamthe",
"abhisar.mohapatra",
"michele.dagostino",
"rebecca.hagemann",
"syed.ahmed",
"ankit.rai",
"Recruiter",
"syed.zulfiqar",
"georgia.potter",
"aaditya.gandhi",
"vikas.jangir",
"ankita.bajaj",
"gerald.wu",
"redirect",
"anurag.yadav",
"vani.sivasankar",
"pei.li",
"cedric.cai",
"ankur.jain",
"girish.m",
"mira.anika",
"tanvi.kapoor",
"arshi.krishna",
"angie.wu",
"emily.yaoli",
"xueming.bai",
"girish.md",
"badrikant.soni",
"gunjan.ahuja",
"anne.frisbie",
"GOIB-Noreply",
"RegisterSites",
"kshitiz.lohia",
"alan.hall",
"anoop.kumar",
"govind.mundhra",
"mitesh.gandhi",
"tao.feng",
"manvi.gupta",
"anoop.v",
"gowtham.tamizharasan",
"tara.green",
"richie.varghese",
"anshul.garg",
"grace.you",
"taranath.jawahar",
"aswanth.raj",
"ridhima.naik",
"anshul.soni",
"subramanian.ramvijji",
"sandeep.sharma",
"archana.rathor",
"anshul.srivastava",
"Grid PE",
"shivangshu.nag",
"Grzegorz.Forysinski",
"sourindra.chatterji",
"elaine.bao",
"haniketh.reddy",
"Richmedia",
"nathan.zhu",
"Richmedia Korea",
"techstop",
"hanna.guo",
"RichMedia.SEA",
"tejaswi.gautam",
"anuj.kumar",
"Mobile Advertising Guru",
"riddhi.kanoi",
"Mobile5-RMQA",
"rishabh.chowdhary",
"maria.puerta",
"anupama.h",
"Mobilize4",
"rishi.bedi",
"test.test",
"anurakt.jain",
"hariprasad.n",
"MobilizeAfrica",
"ritwik.kumar",
"Test Account",
"harish.g",
"ritwik.saikia",
"test ad. migrate",
"dean.zhang",
"harish.sk",
"swagato.mondal",
"gokul.j",
"AppDevEMEA-Promo",
"harish.sharma",
"rob.roldan",
"test-conf",
"abhilash.goje",
"ayush.sahu",
"seema.vs",
"vignesh.gs",
"vivian.you",
"AppMobi",
"harmanak.singh",
"mohit.saxena",
"testuser",
"gazal.roongta",
"michael.varun",
"jatin.makkar",
"appops-git",
"mona.sharma",
"robert.sala",
"thibault.dherbomez",
"App-optimization",
"Monetization-Engg-Oncall",
"Thirdparty Integrations",
"prateek.parashar",
"Monetize-InMobi",
"Api Testuser2",
"archana.c",
"harsha.b",
"monica.e",
"robyn.meyers",
"thushara.v",
"Archana CH",
"harshitha.n",
"MoSync",
"rochila.dcosta",
"Ticket",
"archana.h",
"haseeb.ay",
"roger.li",
"Ticketing",
"sukesh.salian",
"archana.s",
"helen.guang",
"rohan.choudhary",
"tidbit",
"arindam.giri",
"Helpdesk",
"mpower-test1",
"arkadeep.choudhury",
"Helpdesk-Silver",
"mpower-test2",
"rohit.chatter",
"mpower-test3",
"arpit.nanda",
"hemant.kumar",
"mpower-test4",
"romarga.waworuntu",
"arpith.pathange",
"himanchali",
"mpower-test5",
"tina.xu",
"arshad.matin",
"himanshu.bhardwaj",
"mt.raghunath",
"Tomasz.Wojtowicz",
"selvaganapathy.k",
"supriya.sharma",
"arthi.ganesh",
"himanshu.gahlaut",
"roopa.pious",
"david.chu",
"arun.arora",
"himanshu.kulkarni",
"tony.thomas",
"arun.pattabhiraman",
"tryphaena.titus",
"arun.pragash",
"honey.sinha",
"muthukrishnan.s",
"rouble.singh",
"tushar.ghosh",
"NAIT.Billing",
"arvind.jayaprakash",
"NAEvents",
"rubbal.sidhu",
"twikiuser",
"farhat.habib",
"giriraj.gujar",
"himanshu.gour",
"kaustuv.mohanty",
"anna.min",
"namita.vyas",
"keshav.p",
"asad.sait",
"Iab.Kpcb",
"mohammad.musa",
"ian.anderson",
"nandika.pradeep",
"sachin.gajraj",
"swikruti.panda",
"sree.lakshmi",
"yunfeng.ma",
"ashish.bhat",
"ilona.kelvet",
"narayan.periwal",
"sachin.kanodia",
"ashish.tyagi",
"im-apps",
"narayan.v",
"sahil.mathur",
"usha.ravi",
"ashish.yadav",
"imran.nadeem",
"sahila.agarwal",
"ashley.saccoccio",
"IMS",
"narayanan.n",
"sailesh.dayanand",
"lakshman.ch",
"chandresh.b",
"ashutosh.shinde",
"inderbir.singh",
"sailesh.pati",
"gowri.sundaram",
"Indiapublisher",
"naresh.jain",
"sajan.skandakumar",
"joy.mukherjee",
"naresh.kapse",
"sajin.jose",
"david.maciel",
"leena.jacob",
"NASalesDev",
"parthiban.pillai",
"Assetmanager",
"Inmobi meetings",
"nate.barnes",
"sales",
"varadaraju.cp",
"chandramouli.bn",
"abi.guo",
"astha.agrawal",
"inmobi repo",
"nathan.wiseman",
"Sales Engineer Scheduler",
"varsha.hanji",
"astrid.salas",
"InMobi-Events",
"varsha.udayabhanu",
"arushi.srivastava",
"naveen.tewari",
"samar.kumar",
"atul.satija",
"inmobilist",
"navin.madhavan",
"varun.modi",
"ajay.raut",
"anusha.krishnamurthy",
"avadh.pandey",
"InMobiNACompanyCalendar",
"sambuddha.b",
"akhil.raj",
"Avatar-Engg-Oncall",
"InMobi\xe2\x80\x93Publishers Settlement Desk",
"sampath.kumar",
"vasuta.agarwal",
"andreas.piani",
"avinash.garg",
"innu.nevatia",
"Samsung Support",
"venkat.krishnan",
"palash.sharma",
"anneka.patel",
"irene.herranz",
"avinash.ramakanth",
"Invoicing",
"neethu.jose",
"samuel.fischer",
"venkata.naresh",
"varsha.abhinandan",
"irene.zhou",
"vibha.sharath",
"ayman.andrabi",
"ishan.bhatnagar",
"sandeep.barange",
"vibhor.singhal",
"manu.bharadwaj",
"neil.christopher",
"sandesh.chandane",
"anbuzhagan.s",
"babak.dehnad",
"julia.giona",
"jayanth.krishna",
"badrinath.kulkarni",
"jackie.sievey",
"netdeploy admin",
"sandeep.injarapu",
"vidya.k",
"badri",
"vijay.kuppili",
"balaganapathy.nagamu",
"Network Monitoring",
"pankaj.merisha",
"arun.ravindran",
"della.liu",
"Shivanandini.p",
"balakrishnan.vijay",
"luna.bang",
"Network-Alert",
"sandeep.samudrala",
"sharad.chauhan",
"balasundaram.k",
"jagadish.c",
"nick.brignell",
"sandhya.surendran",
"vikash.pandey",
"hema.sundararajan",
"balkrishna.jeph",
"sangman.sohn",
"vikash.roy",
"ashna.gupta",
"Praveen.Prabhakar",
"balvant.yadav",
"nicolette.pinto",
"sangwon.na",
"seema.saroha",
"james.farndale",
"sanjay.dharmani",
"tarun.mehrotra",
"nikhil.patel",
"sanjay.kharb",
"vikram.rajkumar",
"barun.kumar",
"james.rogers",
"nikki.li",
"vikram.sunderraj",
"Bd-Deals",
"nikola.keshan",
"sanjeev.kumar",
"clara.planel",
"beatrice.olivas",
"janghoon.kim",
"vinay.hk",
"jayakrishnan.c",
"bejoy.balagopal",
"nimisha.ok",
"sankalpa.baruah",
"vinay.mohan",
"dhayanithi.m",
"prateek.khurana",
"madhav.chatterjee",
"talson.thomas",
"JapanEvents",
"nina.busch",
"Sankeerth.Munagala",
"pratik.sureka",
"BESAdmin",
"niranjan.agrawal",
"sanooj.mananghat",
"vinay.uttamchandani",
"avi.raj",
"santhosh.chandra",
"vinayak.kudari",
"bharat.kharvi",
"jp.singh",
"nirmala.rao",
"santosh.hegde",
"vincent.fevrier",
"vishal.singh",
"bharath",
"vineet.srivastava",
"nishant.gupta",
"santosh.vaidyanathan",
"bhushan.lv",
"jayant.bhat",
"sap-integration",
"anverdheen.a",
"bi_incident_scrub",
"jayant.rajan",
"nishit.mehta",
"vinod.baba",
"anurag.verma",
"vinay.sharma",
"jayashree.merwade",
"nitesh.garg",
"saraswathi.panigrahi",
"vipin.sharma",
"sekhar.yellapragada",
"bill.qiu",
"jayati.jain",
"nithesh.k",
"jasmine.sun",
"pooja.garg",
"bini.abraham",
"nitin.gupta",
"abhishek.ranjan",
"madeleine.beyer",
"satish.mittal",
"vishal.verma",
"akshay.bu",
"bisanth.balakrishan",
"jayesh.e",
"nitin.srinivas",
"satya.chilukuri",
"vishesh.jain",
"akshay.sahu",
"bismit.boruah",
"nitin.verma",
"vishnu.mohan",
"anchita.padmashali",
"jeemin.lee",
"nitya.jain",
"vishnu.vardhan",
"avinash.kumar",
"bittu.kumar",
"jemshad.ok",
"saurabh.baranwal",
"vishnumurthy.prabhu",
"bankuru.prasanna",
"blockedemail",
"jeonghee.choi",
"saurabh.deshpande",
"vishveshwar.chellara",
"aastha.shrimal",
"bhadreswar.ghuku",
"prithu.pareek",
"bobby.paulose",
"nixer",
"saurabh.narain",
"vitika.roy",
"chetan.anand",
"jerry.sun",
"noc",
"saurav.das",
"Vivek.Saxena",
"kamna.na",
"aditya.bharadwaj",
"brendan.watmore",
"saurav.dutta",
"vpn-admin",
"abhinav.suman",
"anil.verma",
"maggie.xu",
"aditi.sharma",
"jessie.yang",
"noc-alert-general",
"SCCM ClientInstall",
"VPS Admin",
"kireet.pant",
"boone.bai",
"naman.kumar",
"noc-alert-s0",
"SCCM NAA",
"wei.li",
"brijesh.kb",
"jignesh.kakadiya",
"noc-alert-s1",
"Welcome",
"rachuri.anirudh",
"kunal.singh",
"bugs",
"noc-alert-s2",
"SEA-Admin",
"wenming.zhang",
"arjun.umathanu",
"anish.a",
"build oneworld",
"jimit.doshi",
"noc-alert-s3",
"SE-Africa",
"wifi-test",
"arpan.maheshwari",
"ruchira.kumari",
"jimmy.zhu",
"noctest",
"sushrut.ikhar",
"nishant.babel",
"jinseok.lee",
"Nops-Oncall-primary",
"SE-AU",
"bob.bahramipour",
"utkarsh.kumar",
"srinath.sinha",
"SE-China",
"bhargav.chandrababu",
"vikram.rathi",
"hojoon.cha",
"jinyoung.kim",
"SE-India",
"stephanie.gatignol",
"loyd.john",
"noreply-i3p",
"seinjuti.chatterjee",
"xiaolong.bao",
"carl.edwards",
"Notifications",
"SE-JP",
"xing.wei",
"debabrata.bagchi",
"catherine.nyo",
"nuthan.ms",
"yanis.belaidi",
"debojyoti.choudhury",
"CEO",
"Jira-Admin",
"ojasvita.parate",
"SE-Korea",
"yasir.imteyaz",
"ceri.roberts",
"jira-apps",
"oncall-primary",
"rajesh.c",
"chaitanya.p",
"jisha.george",
"Oncall-secondary",
"SE-NA",
"ajitesh.shukla",
"chaitanya.shravanth",
"Sencha",
"praneet.khare",
"chakravati.singh",
"oneinmobi",
"senthil.kumar",
"nidhi.shankar",
"chandra.shekar",
"Online-Marketing",
"sergio.serra",
"yusuke.nakata",
"gunjan.sharma",
"mukund.acharya",
"prabhjot.s",
"chiranjeevulu.hasthi",
"jo.okawara",
"Onlinemktg",
"SE-SEA",
"zabbix",
"wei.guo",
"libin.tom",
"charlee.li",
"Openfire",
"wenwen.zhang",
"paresh.punjabi",
"masthan.ch",
"joel.kirk",
"Optimize",
"praveen.pr",
"charu.rathore",
"jonathan.lim",
"Optout",
"shalini.sinha",
"sravan.reddy",
"satish.shetty",
"jon.white",
"Otrstest",
"shamala.dn",
"grant.getz",
"bhagyashree.r",
"jothi.padmanabhan",
"shan.zhou",
"jagadeesh.mohan",
"cherie.ye",
"ju.ping",
"pallavi.bhargava",
"shantesh.gogi",
"vignesh.n",
"chetan.gupta",
"julien.theodose",
"jeff.coon",
"taek.chung",
"Jumpstart",
"pallavi.rao",
    ];
    $( "#name" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
<!--
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
-->



</body>
<html>

{% endblock %}
