{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Login</title>

   {% load staticfiles %}
   <link rel="stylesheet" href="{%  static 'login.css' %}" type='text/css' />  


<body data-gr-c-s-loaded="true" style="
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15%;
">


    <div class="main-content">

        <!-- You only need this form and the form-basic.css -->      
<div class="container">
    <div class="row">
        <div style="color:black">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title", style="color:black"><center>Enter your Username and Password</center></h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

                        <p class="bs-component">
			<center>	
                            <table>
                                <tr>
                                    <td width="30",height="50"> <font color="black">{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td width="30", height="50"><font color="black">{{ form.password.label_tag }}</td>
                                    <td class="hide">{{ form.password }}</td>
                                </tr>
                            </table>
			</center>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="login" />
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



            
	</div>


    </form></div>



</body>

</html>

{% endblock %}
